* {
    box-sizing: border-box;
    font-family: 'Encode Sans', sans-serif;
    border: 0px solid rgba(255, 255, 255, 1);
    color: white;
    margin: 0px;
}

html {
    background: url(Assets/Wallpaper.jpg) no-repeat center center fixed;
/*    -webkit-background-size: cover;*/
    background-size: cover;
}





/*
========================
Header Column 
========================
*/

#headColumn {
    background: rgba(175, 49, 49, 0.8);
    /*    background: rgba(255, 127, 80, 0.80);*/
    /* Try to blur this */
    height: 100%;
    max-width: 300px;
    min-width: 100px;
    width: auto;
    display: inline-block;
    float: left;
    position: fixed;
}

#headPicture {
    width: 250px;
    height: 250px;
    background-color: firebrick;
    margin: 25px 25px 25px 25px;
    display: inline-block;
    
    background-image: url("Assets/NeelFace.png"), none;
    background-size: 300px 300px;
    background-position: -25px -25px;
   
    -webkit-box-shadow: -2px -0px 25px black;
    -moz-box-shadow: -2px -0px 25px black;
     box-shadow: -2px -0px 25px black;
}

#name {
    text-align: center;
    /*    margin: 10px 10px 10px 10px;*/
    padding: 5px 5px 5px 5px;
    /*    border: 10px 10px 10px 10px;*/
    font-size: 30px;
    font-style: bold;
}

#description {
    padding: 5px 5px 5px 5px;
    text-align: center;
}

#dock {
    padding: 20px;
    position: relative;
}

.dockIcon {
    margin: auto;
    position: relative;
    height="20";
    width="20";
    grid-area: center center;
}


/*
========================
Sidebar
========================
*/

#sideBar {
    float: left;
    /*    blue*/
    background: rgba(20, 20, 20, 0.90);
    /* Try to blur this */
    height: 100%;
    width: 100px;
    position: fixed;
    margin-left: 300px;
    -webkit-box-shadow: -2px -0px 25px black;
    -moz-box-shadow: -2px -0px 25px black;
    box-shadow: -2px -0px 25px black;
}

.sideBarIcon {
    width: 100px;
    height: 100px;
    background: blue;
    border-radius: 10px;
    margin: auto;
    position: relative;
    top: 20%;
}


/* =============================================================================
  ICONS - DEMO 4
============================================================================= 

http://callmenick.com/post/nicer-icon-hover-effects-with-css3-transitions*/


/**
 * "icon-border" class name used to indicate an icon that has an animated border
 * effect.
 *
 * Example HTML:
 *
 * <a href="#" class="icon icon-border facebook">facebook</a>
 * <a href="#" class="icon icon-border twitter">twitter</a>
 * ...
 */

.icon-border {
    position: relative;
    top: 20%;
    width: 100px;
    height: 100px;
    display: block;
}

.icon-border::before,
.icon-border::after {
    display: inline;
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    content: "";
}

.icon-border::before {
    z-index: 1;
    -webkit-transition: box-shadow 0.3s;
    -moz-transition: box-shadow 0.3s;
    transition: box-shadow 0.3s;
}

.icon-border::after {
    z-index: 2;
    background: url("Assets/sidebarSpritesheet.png");
    background-image: url("Assets/sidebarSpritesheet.png"), none;
}


/* aboutMe */


/*#d34836*/

.icon-border.aboutMe::before {
    box-shadow: inset 0 0 0 50px #3b81de;
}

.icon-border.aboutMe:hover::before {
    box-shadow: inset 0 0 0 4px #3b81de;
}

.icon-border.aboutMe::after {
    background-position: 0 0;
}

.aboutMe>.overlay {
    background-color: #3b81de;
}


/* projects */

.icon-border.projects::before {
    /* edge to center of box  = 50px
	sets div's SHADOW's width to 50 and a color*/
    box-shadow: inset 0 0 0 50px #ee802f;
}

.icon-border.projects:hover::before {
    /*border becomes a width of 4*/
    box-shadow: inset 0 0 0 4px #ee802f;
}

.icon-border.projects::after {
    background-position: -200px 0;
}

.projects>.overlay {
    background-color: #ee802f;
}


/* conceptArt */

.icon-border.conceptArt::before {
    box-shadow: inset 0 0 0 50px #34d100;
}

.icon-border.conceptArt:hover::before {
    box-shadow: inset 0 0 0 4px #34d100;
}

.icon-border.conceptArt::after {
    background-position: -100px 0;
}

.conceptArt>.overlay {
    background-color: #34d100;
}


/*
=======================
Slide out title on hover
by neel
=======================
*/

.overlay {
    position: absolute;
    bottom: 0;
    right: 0;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .3s ease;
    left: 100px;
}

.container:hover .overlay {
    width: 120%;
    -webkit-box-shadow: inset 10px 0px 25px -5px black;
    -moz-box-shadow: inset 10px 0px 25px -5px black;
    box-shadow: inset 10px 0px 25px -5px black;
}

.text {
    white-space: nowrap;
    color: white;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.contentArea {
    float: left;
    width: auto;
    height: 100%;
    /*    Change height to 100% later*/
    margin-left: 400px;
    padding: 0px 50px 50px 50px;
}

#aboutMeContent {
    padding: 50px;
    padding-top: 100px;
    height: 100%;
}

#projectsContent {
    /*    padding: 50px;*/
    border: 50px;
    padding-top: 100px;
    padding: 50px;
    height: auto;
    
}

#conceptArtContent {
    padding: 50px;
    padding-top: 100px;
    height: 100%;
    display:
}


/*============== Projects ======= */

.cardGridX {
    height: auto;
    width:auto;
    overflow: auto;
      color: black;
}

.cardContainerX {
    background: rgba(255, 255, 255, 1);
    
    border-radius: 5px;
    min-height: 40%;
    min-width: 40%;
    
    margin: 15px;
    position: relative;
    float: left;
      color: black;
    -webkit-box-shadow: -2px -0px 25px black;
    -moz-box-shadow: -2px -0px 25px black;
     box-shadow: -2px -0px 25px black;
}

.cardTitleX {
    /*    height: 20px;*/
    width: 100%;
    padding:5px;
    text-align: center;
    color: black;
}

.cardTextX {
   
    font-size: 1em;
    position: absolute;
    overflow: hidden;
    left: 5px;
    color: black;
}
.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
    color: black;
}

.cardImageX {
    background: url('./Assets/Wallpaper.jpg') center / cover;
    height: 100px;
    border-radius: 5px 5px  0px  0px;
}

.langDock {
    padding: 5px;
    border-width: 3px;
    position: relative;
    
}

.langTag {
    color: white;
}

.TagCSharp {
    background: rgba(152, 49, 180, 1);
    border-radius: 3px;
    width: auto;
    margin: auto;
    
    position: relative;
    grid-area: center center;
}
.TagXAML {
    background: rgba(15, 137, 246, 1);
    border-radius: 3px;
    padding: 2px;
    width: auto;
}
.TagVStudio {
    background: rgba(103, 33, 122, 1);
    border-radius: 3px;
    padding: 2px;
    width: auto;
}

