* {
    box-sizing: border-box;
    font-family: 'Encode Sans', sans-serif;
    color: white;
    border: 0px solid rgba(255, 255, 255, 1);
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

html {
    background: url(Assets/Wallpaper.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    background-size: cover;
}

@media all and (max-width: 479px)
{
    #headColumn{
        display: none;
        
    }
}
/*
========================
Header Column 
========================
*/

#headColumn {
    background: rgba(175, 49, 49, 0.8);
    /*    background: rgba(255, 127, 80, 0.80);*/
    /* Try to blur this */
    height: 100%;
    max-width: 300px;
    min-width: 100px;
    width: auto;
    display: inline-block;
    float: left;
    position: fixed;
}

#headPicture {
    width: 250px;
    height: 250px;
    background-color: firebrick;
    margin: 25px 25px 25px 25px;
    display: inline-block;
    -webkit-box-shadow: -2px -0px 25px black;
    background-image: url("Assets/NeelFace.png"), none;
    background-size: 300px 300px;
    background-position: -25px -25px;
}

#name {
    text-align: center;
    /*    margin: 10px 10px 10px 10px;*/
    padding: 5px 5px 5px 5px;
    /*    border: 10px 10px 10px 10px;*/
    font-size: 30px;
    font-style: bold;
}

#description {
    padding: 5px 5px 5px 5px;
    text-align: center;
}

#dock {
    padding: 20px;
    position: relative;
}

.dockIcon {
    margin: auto;
    position: relative;
    height="20";
    width="20";
    grid-area: center center;
}


/*
========================
Sidebar
========================
*/

#sideBar {
    float: left;
    /*    blue*/
    background: rgba(20, 20, 20, 0.90);
    /* Try to blur this */
    height: 100%;
    width: 100px;
    position: fixed;
    margin-left: 300px;
    -webkit-box-shadow: -2px -0px 25px black;
}

.sideBarIcon {
    width: 100px;
    height: 100px;
    background: blue;
    border-radius: 10px;
    margin: auto;
    position: relative;
    top: 20%;
}



/* =============================================================================
  ICONS - DEMO 4
============================================================================= 

http://callmenick.com/post/nicer-icon-hover-effects-with-css3-transitions*/


/**
 * "icon-border" class name used to indicate an icon that has an animated border
 * effect.
 *
 * Example HTML:
 *
 * <a href="#" class="icon icon-border facebook">facebook</a>
 * <a href="#" class="icon icon-border twitter">twitter</a>
 * ...
 */

.icon-border {
    position: relative;
    top: 20%;
    width: 100px;
    height: 100px;
    display: block;
}

.icon-border::before,
.icon-border::after {
    display: inline;
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    content: "";
}

.icon-border::before {
    z-index: 1;
    -webkit-transition: box-shadow 0.3s;
    transition: box-shadow 0.3s;
}

.icon-border::after {
    z-index: 2;
    background: url("Assets/sidebarSpritesheet.png");
    background-image: url("Assets/sidebarSpritesheet.png"), none;
}


/* aboutMe */


/*#d34836*/

.icon-border.aboutMe::before {
    box-shadow: inset 0 0 0 50px #3b81de;
}

.icon-border.aboutMe:hover::before {
    box-shadow: inset 0 0 0 4px #3b81de;
}

.icon-border.aboutMe::after {
    background-position: 0 0;
}

.aboutMe>.overlay {
    background-color: #3b81de;
}


/* projects */

.icon-border.projects::before {
    /* edge to center of box  = 50px
	sets div's SHADOW's width to 50 and a color*/
    box-shadow: inset 0 0 0 50px #ee802f;
}

.icon-border.projects:hover::before {
    /*border becomes a width of 4*/
    box-shadow: inset 0 0 0 4px #ee802f;
}

.icon-border.projects::after {
    background-position: -200px 0;
}

.projects>.overlay {
    background-color: #ee802f;
}


/* conceptArt */

.icon-border.conceptArt::before {
    box-shadow: inset 0 0 0 50px #34d100;
}

.icon-border.conceptArt:hover::before {
    box-shadow: inset 0 0 0 4px #34d100;
}

.icon-border.conceptArt::after {
    background-position: -100px 0;
}

.conceptArt>.overlay {
    background-color: #34d100;
}


/*
=======================
Slide out title on hover
by neel
=======================
*/

.overlay {
    position: absolute;
    bottom: 0;
    right: 0;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .3s ease;
    left: 100px;
}

.container:hover .overlay {
    width: 120%;
    -webkit-box-shadow: inset 10px 0px 25px -5px black;
}

.text {
    white-space: nowrap;
    color: white;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}



.contentArea {
    float: left;
    width: auto;
    height: 100%;
    /*    Change height to 100% later*/
    margin-left: 400px;
    padding: 0px 50px 50px 50px;
}

#aboutMeContent {
    
    padding: 50px;
    padding-top: 100px;
    height: 100%;
}
#projectsContent {
    padding: 50px;
    padding-top: 100px;
    height: 100%;
}
#conceptArtContent {
    padding: 50px;
    padding-top: 100px;
    height: 100%;
    display:
}


/*============== Projects ======= */
.cardGridX{
    overflow-x:scroll;
    overflow-y:hidden;
    height: 100%;
}
.cardContainerX{
    background: rgba(100,100,100,1);
    height: 300px;
    width: 400px;
    margin: 10px;
    position: relative;
    float: left;
}
.cardTitleX{
    background-color: rgba(0,0,0,0.4);
/*    height: 20px;*/
    width: 100%;
   padding-top = 100px;
    
}
..cardTextX {
        white-space: nowrap;
    color: white;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    
}






/* ==================================
Card panel idea from <site>
====================== */

.card-panel {
  -webkit-transition: -webkit-box-shadow .25s;
  transition: -webkit-box-shadow .25s;
  transition: box-shadow .25s;
  transition: box-shadow .25s, -webkit-box-shadow .25s;
  padding: 24px;
  margin: 0.5rem 0 1rem 0;
  border-radius: 2px;
  background-color: #fff;
}

.card {
  position: relative;
  margin: 0.5rem 0 1rem 0;
  background-color: #fff;
  -webkit-transition: -webkit-box-shadow .25s;
  transition: -webkit-box-shadow .25s;
  transition: box-shadow .25s;
  transition: box-shadow .25s, -webkit-box-shadow .25s;
  border-radius: 2px;
}

.card .card-title {
  font-size: 24px;
  font-weight: 300;
}

.card .card-title.activator {
  cursor: pointer;
}

.card.small, .card.medium, .card.large {
  position: relative;
}

.card.small .card-image, .card.medium .card-image, .card.large .card-image {
  max-height: 60%;
  overflow: hidden;
}

.card.small .card-image + .card-content, .card.medium .card-image + .card-content, .card.large .card-image + .card-content {
  max-height: 40%;
}

.card.small .card-content, .card.medium .card-content, .card.large .card-content {
  max-height: 100%;
  overflow: hidden;
}

.card.small .card-action, .card.medium .card-action, .card.large .card-action {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.card.small {
  height: 300px;
}

.card.medium {
  height: 400px;
}

.card.large {
  height: 500px;
}

.card.horizontal {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.card.horizontal.small .card-image, .card.horizontal.medium .card-image, .card.horizontal.large .card-image {
  height: 100%;
  max-height: none;
  overflow: visible;
}

.card.horizontal.small .card-image img, .card.horizontal.medium .card-image img, .card.horizontal.large .card-image img {
  height: 100%;
}

.card.horizontal .card-image {
  max-width: 50%;
}

.card.horizontal .card-image img {
  border-radius: 2px 0 0 2px;
  max-width: 100%;
  width: auto;
}

.card.horizontal .card-stacked {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
}

.card.horizontal .card-stacked .card-content {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.card.sticky-action .card-action {
  z-index: 2;
}

.card.sticky-action .card-reveal {
  z-index: 1;
  padding-bottom: 64px;
}

.card .card-image {
  position: relative;
}

.card .card-image img {
  display: block;
  border-radius: 2px 2px 0 0;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
}

.card .card-image .card-title {
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 100%;
  padding: 24px;
}

.card .card-content {
  padding: 24px;
  border-radius: 0 0 2px 2px;
}

.card .card-content p {
  margin: 0;
  color: inherit;
}

.card .card-content .card-title {
  display: block;
  line-height: 32px;
  margin-bottom: 8px;
}

.card .card-content .card-title i {
  line-height: 32px;
}

.card .card-action {
  position: relative;
  background-color: inherit;
  border-top: 1px solid rgba(160, 160, 160, 0.2);
  padding: 16px 24px;
}

.card .card-action:last-child {
  border-radius: 0 0 2px 2px;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating) {
  color: #ffab40;
  margin-right: 24px;
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
  text-transform: uppercase;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating):hover {
  color: #ffd8a6;
}

.card .card-reveal {
  padding: 24px;
  position: absolute;
  background-color: #fff;
  width: 100%;
  overflow-y: auto;
  left: 0;
  top: 100%;
  height: 100%;
  z-index: 3;
  display: none;
}

.card .card-reveal .card-title {
  cursor: pointer;
  display: block;
}

